<main>
    <form action="/" method="GET">
            <input type="text" class="search" name="search" value="{{search}}">
            <button>Search</button>
        </form>
    <section class="cats">
        <ul>
            {{#each cats}}
                {{>catTemplate}}
            {{else}}
                <h3>There are no cubes!</h3>
            {{/each}}
        </ul>
    </section>
</main>

